RahyabServices.ServiceTest/Service References/VipBankingRest/VipBankingRestService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wcfrahyabwebservice.ab.net:8443/VipBankingRestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RahyabServices.Business.Dtos.VipBanking" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="take" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RahyabServices.Business.Dtos.VipBanking" minOccurs="0" name="GetAllResult" nillable="true" type="q1:AllVipDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>