RahyabServices.ServiceTest/Service References/VipBankingRest/VipBankingRestService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RahyabServices.Business.Dtos.VipBanking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RahyabServices.Business.Dtos.VipBanking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AllVipDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Total" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VipDtos" nillable="true" type="tns:ArrayOfVipDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllVipDto" nillable="true" type="tns:AllVipDto" />
  <xs:complexType name="ArrayOfVipDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VipDto" nillable="true" type="tns:VipDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVipDto" nillable="true" type="tns:ArrayOfVipDto" />
  <xs:complexType name="VipDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountCountMojudi" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="AccountCounts" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressII" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirhDateShamsi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BirthDateMiladi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Birthdate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchCodeRejCheque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchTel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractStatusNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContractType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CopyOfInventoryStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CopyOfStatus" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="CountRejCheque" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentRemainingCustomer" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrentTransDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustTypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCurrentRemaining" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateMain" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateRejCheque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateSarresidNahayi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DelinqAllDepts" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DelinqAzMahaleBedehkaran" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DelinqBankCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DelinqBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DelinqCurrentRemaining" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="DelinqID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DelinqStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DelinqTitleKind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DelinqType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HisDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="InventoryStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KeyId" type="xs:long" />
      <xs:element minOccurs="0" name="MablaqeTahsilateEtaiTakonun" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MandeSoud" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="MarriedCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarriedTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeanTurnover" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MelliCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NerkheSoud" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewBranchCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenCityofBranch" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="OpenDateSeason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenDateShamsi" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OpenDateYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenDateYearMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenDateYearSeason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpenRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrginalRemaining" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrivateCustomerLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RejChequeCash" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RemainPenalty" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemainingNotCurrent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScoreDelinq" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ScoreFinal" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ScoreInventory" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ScoreOpenDate" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ScoreRejCheque" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="ScoreTurnOver" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="SexCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SexTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusChequeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrBirthDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrOpenDateShamsi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SumDelinqAndRejCheque" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TahsilatLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TashilatTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TedadeRade" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="TelNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Todate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VaziateVorudeMoshtari" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VipDto" nillable="true" type="tns:VipDto" />
</xs:schema>